html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Volkhov', Times, "Times New Roman", serif;
    line-height: 30px;
    color: #5C6870;
}

.nav::part(body){
    background-color: #D2FCEC;
}
.nav::part(tabs){
    background-color: white;
}

.navbar{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
.me-img{
    border-radius: 20%;
}
section{
    justify-content: center;
}
h1,h2,h2,h3,h4,h5,h6{
    font-weight: bold;
    /* display: flex;
    flex-wrap: wrap; */
}
h2{
    background-image: linear-gradient(#fff 60%,#57BEFF 55%);
}
main{
  margin-top: 15vh;
}
h1{
    float: right;
    margin-right: 1em
}

sl-card img {
    height:200px;
    width: 100%;

}

.title * { 
    margin: 1em 0;
    justify-content: center;

}
.interest  sl-icon {
    font-size: 5em;
}
.interest .pure-g{
    justify-content: center;
    margin: 5em 0;
}
.card , .title, .portfolio{
    text-align: center;
    justify-content: center;
    
}
.card{
    margin: 2em 0
}
.card p {
    margin: 0 1em;
}

/* Portfolio Cards */
.card-overview {
    max-width: 300px;
    /* z-index: -1; */
    
  }
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card-overview small {
    color: var(--sl-color-gray-50);
  }

  .card-overview [slot="footer"] {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    
  }

  /* .contact-content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
  } */

  .animation-sandbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding:10px
    
  }
  .animation-sandbox *{
    margin: 0em;

  }

  .bcard-head{
    display: flex;
    justify-content: space-between;
  }
  .name{
      display: flex;
      flex-direction: column;
  }
  .name *, .bcfoot * {
    display: flex;
    justify-content: center;
  }
  .biz-card{
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    font-family: 'EB Garamond', serif;
    display: block;
    margin: auto;
  }
  .cardback {
      visibility: hidden;
  }
  .bcard-body{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 2em;
      margin-top: 1em;
      cursor: pointer;
  }
  .big {
    font-size: 120%;
  }
  
  .med {
    font-size: 100%;
    letter-spacing: .5px;
  }
  
  .small {
    font-size: 65%;
    letter-spacing: .5px;
  }
  
  .no-space {
    letter-spacing: 0px;
  }

  @media screen and (max-width: 570px) {
    h1{
        font-size: 100%;
    }
  }
  .real-contact{
      display: flex;
      justify-content: center;
      margin-bottom: 5em;
      text-align: center;
  }
  .more{
    font-size: 5em;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
 form{
   display: flex;
   justify-content: center;
   flex-direction: column;
 }
 form .small-input{
   width: 15em;
 }
 form label{
   text-align: left;
 }
 form .pure-button{
  margin: 3em 0; 
  width: 5em;
 }
